<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: green;">
        Hello DATA & IA 2
    </h1>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="public/reset.css">
    <link rel="stylesheet" href="accests/style.css">
    <title>Recherche de Livre</title>
</head>
<body>
    <h1>Recherche de Livre par Auteur</h1>
    <form action="/search" method="GET">
        <label for="author">Auteur:</label>
        <input type="text" id="author" name="author" required>
        <button type="submit">Rechercher</button>
    </form>
    <hr>
    <form action="ajout" method="post">
        
        <h1>Ajouter un livre</h1>

        <input type="text"  name="title" placeholder="Titre" required>
        
        <input type="text"  name="author" placeholder="Auteur" required>
        
        <input type="number"  name="year" placeholder="Année" required>
        <button type="submit">Ajouter</button>
    </form>
</body>
</html>
<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/login">
        <input type="text" name="Nom" placeholder="Nom d'utilisateur">
        <input type="password" name="motdepasse" placeholder="Mot de passe" >
        <button type="submit"> Se connecter</button>
    </form>
</body>
</html> -->